// Generic //

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body {
	width: 100%;
	height: 100%;
}

header {
	.clearfix;
}

article {
	width: 100%;
	height: 100%;
}

section {
	width: 100%;
	height: 100%;
	position: relative;

	.clearfix;
}

footer {
	.clearfix;
}

